<!DOCTYPE html>
<html ng-app="CarWorkshop">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />*@

    <link href="~/Content/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/skins/_all-skins.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    <link href="~/Content/jquery.tagit.css" rel="stylesheet" />
    <link href="~/Content/tagit.ui-zendesk.css" rel="stylesheet" />

</head>

<body class="hold-transition skin-blue sidebar-mini" ng-controller="CarWorkshopController">
    <div class="wrapper">
        <header class="main-header">
            <a href="index2.html" class="logo" style="float: right;">
                <span class="logo-lg">اسم المحل</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="float: right;">
                    <img class="image20" src="~/Content/Images/Columns.png" />
                    @*<span class="sr-only">Toggle navigation</span>*@
                </a>
            </nav>
        </header>

        <aside class="main-sidebar" style="right:0;">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="active">
                        <a class="arabic" href="#">
                            <i class="fa fa-dashboard"></i>
                            <span>الشاشة الرئيسية</span>
                        </a>
                    </li>
                    <li class="active">
                        <a class="arabic" href="@Url.Action("List", "Concept")">
                            <i class="fa fa-dashboard"></i>
                            <span>مثال</span>
                        </a>
                    </li>
                    <li class="active">
                        <a class="arabic" href="@Url.Action("List","SparePartJob")">
                            <i class="fa fa-dashboard"></i>
                            <span>قطع غيار</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>


        <div class="content-wrapper">
            @*<section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                </section>*@
            <section class="content">

                @RenderBody()

            </section>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/tag-it.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/demo.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>